.dashboard-header {
  display: flex;
  justify-content: space-between; /* Space out left and right sections */
  align-items: center; /* Vertically center all items */
  padding: 10px 20px; /* Add some padding for spacing */
  background-color: #f4f5f7; /* Light background color */
  border-bottom: 1px solid #ccc; /* Add a border below the header */
}

.logo {
  display: flex;
  align-items: center; /* Align logo icons vertically */
  gap: 10px; /* Space between icons */
}

.vertical-line {
  height: 87px;
  width: 1px;
  background-color: #000000;
  margin: 0 20px; /* Space between the line and the other content */
}

.workspace {
  font-size: 16px;
  font-weight: 400;
  color: #252C32;
  margin-right: 30px; /* Space between workspace and dashboard title */
}

.dashboard-title {
  flex-grow: 1; /* Takes up the remaining space on the left */
  font-size: 24px;
  font-weight: 400;
  color: #252C32;
  text-align: center; /* Center align the title */
}

.user-info {
  font-size: 14px;
  color: #555;
  margin-right: 10px; /* Space between user info and profile image */
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%; /* Circular profile image */
  object-fit: cover; /* Make sure the image covers the circle area properly */
}

  
  .task-columns {
    display: flex;
    justify-content: space-around;
    padding: 2px;
    gap: 8px;
    padding-bottom: 10px;
  }
  
  .task-column {
    width: 895px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 6px, 6px, 0px, 0px;
    
    
  }
  
  .task-column h3 {
    font-size: 14px;
    font-weight: 600;
    color: #6E7C87;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .task-card {

    background-color: #fff;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .task-category {
    display: inline-block;
    padding: 3px 5px;
    background-color: #F8DD4E;
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  .task-code1 {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
  }

  .task-code2 {
    text-align: right;
    margin-top: 10px;
    font-size: 0.9em;
    color: #777;
  }
